﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <!--this weired JS reference for IE11 , for the array.find functions-->
    <script src="~/Scripts/polyfill.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/staticgrid.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/staticgrid.js"></script>
    <script src="~/Scripts/Scripts.js"></script>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <input type="text" id="SearchTb1" class="form-control" />
             </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="GridContainer1">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <input type="text" id="SearchTb2" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div id="GridContainer2">

                </div>
            </div>
        </div>
    </div>

</body>
</html>
